.badge {
  align-items: center;
  background-color: #0b3147;
  border-radius: 2.6rem;
  color: #41baff;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, "Source Sans Pro";
  font-size: 10px;
  font-weight: 400;
  height: 1.18rem;
  justify-content: center;
  letter-spacing: -0.052rem;
  line-height: 1.2125;
  margin-top: 0.019rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 2.5rem;
}
